/*BLOG SECTION*/
.year {
  margin-bottom: 3rem;
}

.year-headline {
  margin-bottom: 1rem;
  color: $accent-color-shade-dark;
}

.posts-list>div:nth-of-type(odd) {
  background: $page-background-neutral;
}

.post-list-item {
  display: flex;
  padding: 0.5rem 0;
  margin-bottom: 0.2rem;
}

.item-name {
  padding: 0 0.5rem;
}

/*BLOG POST - SINGLE PAGE*/
#blog-post-page {
  .container {
    max-width: 600px;
  }
}

.blog-post-title {
  padding-bottom: 1rem;
}

.blog-post-heading {
  color: $dominant-color;
}

.blog-post-body {
  p {
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  img {
    height: 300px;
  }

}

.blog-image-left {
  float: left;
  margin-right: 1rem;
}

.blog-image-right {
  float: right;
  margin-left: 1rem;
}

.blog-post-meta-info,
.blog-post-further-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-top: 1px dotted $accent-color-shade-dark;
  border-bottom: 1px dotted $accent-color-shade-dark;
  margin-bottom: 1rem;
}

.blog-post-further-info {
  border-bottom: none;
  margin-bottom: 0;
}