//MOBILE NAV BUTTON
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  height: 60px;
}

//MOBILE NAV ITSELF
#mobile-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 60px;
  width: 100vw;
  background: white;
  border-bottom: 0.5px solid $page-background-neutral;

  #logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto auto;
    height: 100%;
    width: 100%;


    a {
      font-size: 1.9rem;
    }
  }
}

#main-nav-mobile-burger-menu {
  height: 60px;
  width: 40px;
  margin-left: 2rem;
  cursor: pointer;
}

#burger-container {
  top: 30px;
  position: absolute;

  #burger-toggler {
    width: 50px;
    height: 45px;
    top: -20px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
}

#burger {
  .burger-line {
    position: absolute;
    border: none;

    height: 4px;
    z-index: 2;
    background: $dominant-color;

  }

  #burger-line1 {
    top: -10px;
    @include transition-littleTime;
  }

  #burger-line2 {
    @include transition-littleTime;
  }

  #burger-line3 {
    top: 10px;
    @include transition-littleTime;
  }
}


#main-nav-mobile-menu-options {
  width: 100vw;

  ul {
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: rgba(29, 63, 98, 0.95);
    border-bottom: 1px solid $dominant-color;
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: center;

    li {
      font-size: 1.2rem;

      padding: 1rem 1.5rem;
      text-align: center;
      color: white;
    }

    a {
      padding: 10px 20px;
      color: white;

      &:hover {
        color: white;
      }
    }
  }

}


//Mobile navigation slide-in;
.anim-slideToScreen-startState {
  @include transition-littleTime;
  transform: translateY(-100vh);
}

.anim-slideToScreen-endState {
  transform: translateY(0vh);
}

//Burger menu on-toggler

.line1-animate-startState,
.line2-animate-startState,
.line3-animate-startState {
  width: 40px;
}

.line1-animate-endState {
  transform: translateY(10px) rotate(400deg);
  width: 25px;
}

.line2-animate-endState {
  transform: rotate(315deg);
  width: 25px;
}

.line3-animate-endState {
  transform: translateY(-10px) rotate(400deg);
  width: 25px;
  opacity: 0;
}