//MOBILE NAV BUTTON
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;

}

//MOBILE NAV ITSELF
#mobile-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 60px;
  height: 60px;
  width: calc(100vw - 60px);
  background: white;
  border-bottom: 0.5px solid $page-background-dark;

  #logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto auto;
    height: 100%;
    width: 100%;

    a {
      font-size: 1.9rem;
    }
  }
}