/*PROJECT OVERLAYS*/
.project-overlay-container {
  display: flex;
  position: fixed;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(175, 196, 204, 0.9);
  margin: 0;
  top: 0;
  left: 0;
  z-index: 3;
  //visibility: hidden;
  //overflow-y: hidden;

  &.show {
    visibility: visible;
  }

  &.hide {
    visibility: hidden;
  }
}

.project-overlay {
  display: grid;
  grid-template-areas:
    "header"
    "techtags"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 0.25fr 7.75fr 1fr;
  max-height: 60vh;
  width: 60vw;
  position: fixed;
  margin: 0;
  top: 10vh;
  background: $page-background-neutral;
  border-radius: 5px;
  overflow: hidden;
}

.project-overlay-header {
  display: flex;
  grid-area: header;
  vertical-align: middle;
  background: $accent-color-shade-dark;
}

.project-overlay-header-title {
  display: block;
  width: 90%;
  font-size: 2.5rem;
  text-align: center;
  line-height: 100%;

  p {
    display: block;
    color: white;
    padding: 1rem 1rem;
  }
}

.project-overlay-header-hide-btn-container {
  width: 10%;

  button {
    font-size: 3rem;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: $text-light;
    cursor: pointer;
    margin-right: 0.55rem;

    &:hover {
      color: $page-background-neutral;
    }
  }
}

.project-overlay {
  .tech-tag {
    height: 16px;
  }
}

.project-overlay-tech-tags {
  grid-area: techtags;
  min-height: auto;
  height: 1rem;
}

.project-overlay-main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.project-overlay-photo {
  display: flex;
  width: 40%;
  overflow: hidden;
  border-bottom: 1px solid $dominant-color;
}

.project-overlay-description {
  padding: 1rem;
  width: 60%;
  height: 100%;
  min-height: 100%;
  overflow: scroll !important;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;

  p {
    margin-bottom: 0.5rem;
  }

  .dotted-list {
    margin-top: 0.3rem;

    li {
      position: relative;
      display: block;
      margin-left: 1.875rem;
      margin-top: 0rem;

      &::before {
        position: absolute;
        top: 0.625rem;
        left: -1.25rem;
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background-color: $accent-color-shade-dark;
      }
    }
  }
}

.project-overlay-footer {
  display: flex;
  grid-area: footer;
  justify-content: space-around;
  align-content: space-between;
  background-color: $accent-color-shade-dark;
}

.project-overlay-sourcode-btn-container {
  width: 50%;

  button {
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
}

.project-overlay-demo-btn-container {
  width: 50%;
}

.project-overlay-footer button {
  background: $accent-color-shade-dark;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    color: $page-background-neutral;
  }
}

#project1-overlay {
  .project-overlay-photo {
    background: url("../img/portfolio/taxidermy.png") center;
    background-size: cover;
  }
}

#project2-overlay {
  .project-overlay-photo {
    background: url("../img/portfolio/ivanburda.png") center;
    background-size: cover;
  }
}

#project3-overlay {
  .project-overlay-photo {
    background: url("../img/portfolio/currency-convertor.png") center;
    background-size: cover;
  }
}

#project4-overlay {
  .project-overlay-photo {
    background: url("../img/portfolio/christinadengg.png") center;
    background-size: cover;
  }
}
