/*PROJECT OVERLAYS*/
#project-overlays-container {}

#coverage {
  display: flex;
  position: fixed;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(29, 63, 68, 0.95);
  margin: 0;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  overflow-y: hidden;
}

#coverage .hide {
  visibility: hidden;
}

#coverage .show {
  visibility: visible;
}



/* 
body {
    overflow: hidden;
} */

.project-overlay {
  display: grid;
  grid-template-areas: "header"
    "techtags"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 0.25fr 7.75fr 1fr;
  height: 60vh;
  width: 60%;
  position: fixed;
  margin: 0;
  top: 10vh;
  left: 20%;
  z-index: 3;
  overflow-y: hidden;
  background: $page-background-neutral;
  visibility: visible;
  border-radius: 5px;
}

.project-overlay-header {
  display: flex;
  grid-area: header;
  vertical-align: middle;
  background: $accent-color-shade-dark;
}

.project-overlay-header-title {
  display: block;
  width: 90%;
  font-size: 2.5rem;
  text-align: center;
  line-height: 100%;

}

.project-overlay-header-title p {
  display: block;
  color: white;
  padding: 1rem 1rem;
}


.project-overlay-header-close-btn-container {
  width: 10%;
}

.project-overlay-header-close-btn-container button {
  font-size: 3rem;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: $text-light;
  cursor: pointer;

}

.project-overlay-header-close-btn-container button:hover {
  color: $page-background-neutral;
}

.project-overlay .tech-tag {
  height: 1rem;
}

.project-overlay-tech-tags {
  grid-area: techtags;
}

.project-overlay-main {
  grid-area: main;
  display: flex;
  flex-direction: row;

}

.project-overlay-photo {
  width: 40%;
}

.project-overlay-description {
  padding: 1rem;
  width: 60%;
}

.project-overlay-footer {
  display: flex;
  grid-area: footer;
  justify-content: space-around;
  align-content: space-between;
}

.project-overlay-sourcode-btn-container {

  width: 50%;
}

.project-overlay-sourcode-btn-container button {
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.project-overlay-demo-btn-container {
  width: 50%;
}

.project-overlay-footer button {
  background: $accent-color-shade-dark;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.project-overlay-footer button:hover {
  color: $page-background-neutral;
}




#project1-overlay .show {
  visibility: visible;
}

#project1-overlay .hide {
  visibility: hidden;
}

#project1-overlay .project-overlay-photo {
  background: url(../img/portfolio/taxidermy.png) center;
  background-size: cover;
}



.project-overview {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  text-align: justify;
  padding: 0.625rem 1.875rem;
  max-height: 70%;
  min-height: 70%;
  border-top: 1px solid $dominant-color;
}

#project1 {
  background: url('../img/portfolio/taxidermy.png') center;
  background-size: cover;
}

#project2 {
  background: url('../img/portfolio/currency-convertor.png') center;
  background-size: cover;
}

#project3 {
  background: url('../img/portfolio/christinadengg.png') center;
  background-size: cover;
}

#project4 {
  background: url('../img/portfolio/ivanburda.png') center;
  background-size: cover;
}

.project-button {
  display: block;
  width: 100%;
  min-height: 15%;
  max-height: 15%;
  text-align: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  padding: 0.625rem 0.25rem;
  color: $accent-color-shade-light;
  border-top: 1px solid $page-background-dark;
  border-radius: $border-radius;
  cursor: pointer;
}

.project-button a {
  display: block;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.project-button:hover {
  background: $page-background-light;
}

.project-button a:hover {
  color: $accent-color-shade-dark;
  font-weight: initial;
}