//MIN-WIDTH: 2560px
@media only screen and (min-width: 2560px) {
  .container {
    width: 50%;
  }

  .project-overlay {
    height: 50vh;
    max-width: 40vw;
  }
}

//MIN-WIDTH: 1921px
@media only screen and (min-width: 1921px) {
  .container {
    width: 55vw;
  }

  .project-overlay {
    height: 60vh;
    max-width: 50vw;
  }

}

//MIN-WIDTH: 1100px
@media only screen and (min-width: 1100px) {
  .container {
    width: 1100px;
  }

  #projects {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(25rem, auto);
  }

  .testimonial {
    grid-template-areas:
      "title title"
      "photo description";
  }

  .testimonial-photo img {
    height: 4.375rem;
  }



}

//MAX-WIDTH: 1280px
@media only screen and (max-width: 1280px) {
  .project-overlay {
    width: 80vw;
  }

  #contact {
    .content {
      flex-direction: column;
    }
  }

  .contact-method {
    width: 70vw;
    height: 150px;
    margin: 1rem;
    border-radius: 8px;
  }
}

//MAX-WIDTH: 900px

@media only screen and (max-width: 900px) {
  .container {
    width: 100%
  }

  /*Utility*/
  #frontpage .content,
  #profile .content,
  #experience .content,
  #contact .content {
    flex-direction: column;
  }

  .section-left,
  .section-right {
    display: flex;
    width: 100%;
    padding-right: 0rem;
  }

  .section-left {
    flex-direction: row;
    padding: 1rem 1rem;
    background: $page-background-neutral;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  .section-left-heading-and-photo {
    width: 35%;
  }

  .section-left-text {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 65%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  /*Frontpage*/
  #signature img {
    width: 60%;
  }

  /*Experience*/
  .testimonial {
    grid-template-areas:
      "title title"
      "photo description";
  }

  .testimonial-photo img {
    height: 4.375rem;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .project-overview {
    line-height: 1.2rem;
  }

  /*Contact*/
  #contact .container {
    height: 100vh;
    overflow: hidden;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }
}

//MAX-WIDTH: 775px
@media only screen and (max-width: 775px) {

  /*Portfolio*/

  .project-overlay-header-title {
    font-size: 1.75rem;

    p {
      display: block;
      color: white;
      padding: 0.5rem 0.5rem;
    }
  }

  .project-overlay-header-hide-btn-container {
    width: 10%;

    button {
      font-size: 2rem;
    }
  }

  /*Navigation*/
  #logo-text {
    width: 20%;
    letter-spacing: 0.14rem;

    a {
      font-size: 1.2rem;
    }
  }

  #main-nav .list {
    width: 80%;
    font-size: 0.85rem;
    letter-spacing: 0.14rem;
  }

  .main-nav-btn {
    padding: 0.5rem 0.5rem;
  }
}


//MAX-HEIGHT: 720px
@media only screen and (max-height: 700px) {

  /*Portfolio*/
  .project-overlay {
    height: 80vh;
    max-height: 80vh;
    top: 5vh;
  }

  .project-overlay-footer button {
    font-size: 1.2rem;
  }


  /*Landscape*/
  .section-padding {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}

//MAX-WIDTH: 600px
@media only screen and (max-width: 600px) {

  /*Main styling*/
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1rem;
  }

  /*Utility*/
  .section-padding {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-left {
    flex-direction: column;

    .photo {
      width: 90%;
      margin: auto;
    }
  }

  /*Navigation*/
  .menu-wrap {
    display: block;
  }

  #main-nav {
    display: none;
  }

  /*Frontpage*/
  .section-left-heading-and-photo {
    width: 100%;
  }

  .section-left-text {
    padding-left: 0rem;
    width: 100%;
  }

  #signature img {
    width: 100%;
  }

  .post-preview {
    grid-template-areas:
      "title title title"
      "image description description";

    img {
      height: 10rem;
    }
  }

  .post-preview-title {
    padding-left: 1rem;
  }

  /*Portfolio*/
  .project-overlay-main {
    flex-direction: column;
  }

  .project-overlay-photo {
    width: 100%;
    min-height: 35%;
  }

  .project-overlay-description {
    width: 100%;
    min-height: 65%;
    max-height: 65%;

    p {
      font-size: 0.8rem;
    }

    .dotted-list {
      li {
        margin-top: 0rem;
        font-size: 0.8rem;
        line-height: 1.2rem;

        &::before {
          position: absolute;
          top: 0.25rem;
          left: -1.25rem;
        }
      }
    }
  }

  #portfolio {
    .container {
      width: 85%;
    }
  }

  #projects {
    grid-template-columns: repeat(1, 1fr);
  }


  /*Experience*/

  /*Contact*/
  .contact-method {
    width: 90vw;
    height: 150px;
    border-radius: 8px;
  }
}


//MAX-WIDTH: 340px
@media only screen and (max-width: 340px) {

  #mobile-nav {
    #logo-text {
      margin-left: 30px;
    }
  }

  /*Frontpage*/
  .post-preview {
    grid-template-areas:
      "title"
      "description"
      "image";
  }

  .post-preview-image {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .post-preview-content {
    padding-left: 1rem;
    padding-bottom: 0rem;
  }

  /*Experience*/
  .testimonial {
    grid-template-areas:
      "title"
      "description"
      "photo";
  }

  .testimonial-photo {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
  }

  /*Portfolio*/
  #portfolio {
    .container {
      width: 100%;
    }
  }



  .project-overlay-description {

    p {
      line-height: 1rem;
    }
  }


  /*Contact*/
  #contact {
    .content {
      display: flex;
      flex-direction: column;
      justify-items: center;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      overflow: visible;
    }

    .container {
      height: 100%;
    }
  }



  /*Blogpost article*/
  .blog-post-body {
    img {
      height: 320px;
    }
  }

  .blog-image-left {
    display: flex;
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .blog-post-further-info {
    flex-direction: column;

  }

  .blog-post-further-info a {
    margin-bottom: 1rem;
  }

}